/* Reglas CSS consta de 2 partes:
1)Selector
2)Bloque de declaraciones
"Atributo:valor;"
3)Los bloques se definen por{}
*/


/* Forma no usual de llamar otra hoja porque es bloqueante*/

@import url("style2.css");
h1 {
    color: brown;
    background-color: black;
}


/* Selectore Básicos:
1-Etiquetas (html)
2-Identficadores (#)
3-Clases (.)
*/

p {
    color: midnightblue;
}


/*stilos con id son malas practicas o Antipatrón*/

#parrafo-2 {
    color: blueviolet;
}


/*Dar estilo con clases nos permite reutilizar nuestro codigo CSS*/

.bg-skyblue {
    background-color: skyblue;
}

.bg-steelblue {
    background-color: steelblue;
}

.text-20 {
    font-size: 20px;
    color: teal;
}

.text-32 {
    font-size: 32px;
}

.text-white {
    color: beige;
}


/*Selectores avanzados*/


/*----S. Hijos*/

.hijos-directos>li {
    background-color: thistle;
}

.hijos-descendientes b {
    background-color: thistle;
}


/*----S. Hermanos*/


/*generales:los estilos se aplican a todos los tag por debajo de la referencia*/

.hermanos-general~li {
    background-color: thistle;
}


/*Adyacentes: los estilos se aplican a todos los tag siguiente de la referencia*/

.hermanos-adyacentes+li {
    background-color: thistle;
}


/*----S. Atributo*/


/*se ejerce por medio de los corchetes [] */

.selectores-atributos a[href] {
    color: orangered;
}

.selectores-atributos a[target="_blank"] {
    font-weight: bolder;
}


/* el * es un comodin que solo apunta al que contenga dicha referencia*/

.selectores-atributos a[href*=jonmircha] {
    font-size: 24px;
}


/* ^ el circunflejo (comodin) apunta a la refecia siempre y cuando con esta inicie*/

.selectores-atributos a[href^="http://"] {
    text-decoration: none;
}


/* $ el peso (comodin) apunta a la refecia siempre y cuando con esta termine*/

.selectores-atributos a[href$=".com"] {
    text-decoration: none;
    color: blue;
}


/* ~ la virgulilla (comodin) apunta a la refecia si la contiene en una lista separada por espacios*/

.selectores-atributos a[class~="cursos"] {
    background-color: steelblue;
}


/* | el pipe (comodin) apunta a la refecia si la contiene en una lista separada por espacios o despues un guion medio -*/

.selectores-atributos a[class|="menu"] {
    font-style: italic;
}


/*----Selector Universal*/


/* (*) Este aplicara a todos las etiquetas dentro del html*/

* {
    font-family: sans-serif;
}

.selector-universal * {
    font-size: 24px;
}


/*PSEUDOCLASES*/


/* Pseudoclase: Dan estilo dependiendo del contexto, posicion o estado del elemento
Estas se generan con (:)

https://developer.mozilla.org/es/docs/Web/CSS/Pseudo-classes*/

.form-pseudoclases *:required {
    border-color: yellow;
}

.form-pseudoclases *:valid {
    border-color: green;
}

.form-pseudoclases *:invalid {
    border-color: red;
}

.form-pseudoclases *:focus {
    background-color: skyblue;
}

.form-pseudoclases *:disabled {
    background-color: pink;
}

.menu-pseudoclases a:hover {
    color: orange;
    text-decoration: none;
}

.menu-pseudoclases a:visited {
    color: olivedrab;
    text-decoration: none;
}

.p-pseudoclases:hover {
    font-size: 20px;
}

#temario-css:target {
    background-color: lightgreen;
}

.lista-pseudoclases li:first-child {
    color: green;
}

.lista-pseudoclases li:last-child {
    color: violet;
}

.lista-pseudoclases li:nth-child(3n) {
    color: navy;
}

.lista-pseudoclases li:nth-child(4n) {
    color: rebeccapurple;
    font-weight: bolder;
}

.lista-pseudoclases li:nth-child(even) {
    background-color: cadetblue;
}

.lista-pseudoclases li:nth-child(odd) {
    background-color: rgb(255, 0, 242);
}

.articulo p:first-of-type {
    background-color: burlywood;
}

.articulo p:last-of-type {
    background-color: burlywood;
}

.articulo p:nth-last-of-type(3) {
    background-color: burlywood;
}

.articulo *:not(p) {
    background-color: beige;
}


/*PSEUDOELEMENTOS

Estas se generan con doble (::)

https://developer.mozilla.org/es/docs/Web/CSS/Pseudo-elements*/

.saga-geminis::before {
    content: " 🐱‍🏍";
}

.saga-geminis::after {
    content: "♊ ";
}

.saga-precio::before {
    content: "$";
    font-weight: bold;
}

.saga-precio::after {
    content: " USD";
    font-weight: bold;
}

.p-pseudoelementos::first-letter {
    font-weight: bolder;
    font-size: 32px;
}

.p-pseudoelementos::selection {
    color: greenyellow;
    background-color: black;
}

.input-pseudoelementos::placeholder {
    color: olive;
}


/*AGRUPAR SELECTORES*/

.form-agrupar-selectores input[type="text"],
.form-agrupar-selectores input[type="email"],
.form-agrupar-selectores textarea {
    border-color: chartreuse;
    border-width: 2px;
    border-style: dashed;
    background-color: black;
    font-size: 20px;
    display: block;
    width: 300px;
    margin: 2px;
}