/*
Posicionamiento CSS

La propiedad FLOAT y POSITION nos permiten modificar la posición natural de cualquieer elemento del documento HTML

El navegador coloca cada elemento teniendo en cuenta el orden en el que aparece en el documento y su tipo de visualizacion si es un elemento línea o de bloque

Con FLOAT y POSITION podemos modificar este comportamiento.

Elemento Flotantes
-Float: Convierte un elemento en flotante desplazando hasta la zona más a la izquierda o más a la derecha de la posición en la que originalmente se encontraba
-clear: Limpia la flotación(left, right, both)

Tipos de Posicionamiento::after
-static(Default)
-relative
-absolute
-fixed
-sticky

Para mover los elementos posicionados se activan las
propiedades:
-top (vertical - eje Y)
-bottom (vertical - eje Y)
-left (horizontal - eje X)
-right (horizontal - eje X)
-z-index (profundidad - eje z)

las propiedades no funcionan con el valor de la static.
*/


/*Static: Es el valor por defecto , significa que el elemento
respeta el flujo del documento html por lo que no puede mover
ni posicionar*/

.static {
    background-color: yellow;
    position: static;
    /*defaul*/
    top: 10px;
    left: 10px;
}


/*relative: El elemento conserva sus dimensiones y posiciónes originales en el flujo del documento. Si se mueve toma como referencia su posición original*/

.relative {
    background-color: turquoise;
    position: relative;
    /* top: 300px;
    left: 50px; */
    width: 500px;
    height: 50px;
}


/*Absolute: El elemento pierde sus dimesiones y posición original en el flujo del documento. Si se mueve puede tomar como referencia 2 elementos:
1- El primer ancestro como posición relative
2- Si no encuentra un ancestro relativo, se vueve respecto del documento HTML
*/

.absolute {
    background-color: tomato;
    position: absolute;
    width: 200px;
    height: 50px;
    /* top: 0;
    left: 0; */
    /* bottom: 0;
    right: 0; */
}

.relative-parent {
    background-color: khaki;
    position: relative;
    width: 600px;
    height: 50px;
    top: 50px;
    left: 500px;
}

.absolute-chid {
    background-color: lightcoral;
    position: absolute;
    left: 0;
    top: 0;
}


/*Fixed: El elemento pierde sus dimenciones y posiciíon original en el flujo del documento.Si se mueve toma como referencia el documento HTML y quedaa fijo en la posición, cuando el scroll se mueve, el elemento no lo hara, queda FIJO*/

.fixed {
    background-color: lightgreen;
    position: fixed;
    width: 100%;
    height: 80px;
}


/*Sticky: Es una combinacion de posicionamiento relative y fixed, para este posicionamiento las propiedades de top, left, bottom y right nomueven el elemento,
sirven como punto de referencia, mientras no lleguen a ese valor el elemento se comporta como relative, cuando llega se convierte en fixed.

Para que este comportamiento funcione el elemento sticky debe ser hijo del body o su elemento contenedor debe tener dimensiones definidas y sóo será sticky dentro de las dimensiones de su contenedor padre
*/

.sticky {
    background-color: lightskyblue;
    position: sticky;
    top: 50px;
}

.sticky-parent {
    border: thin dashed black;
    height: 600px;
}

.sticky-chid {
    background-color: lightslategray;
    position: sticky;
    top: 75px;
}


/*Z-INDEX: propiedad que permite controlar la profundidad de los elementos posicionados, su valor por defecto es auto, acepta número positivos, negativos y cero

 A mayor valor el elemento esta más al frente, a menor valor más al fondo.

Un elemento padre nunca podrá estar sobre sus elementos hijos, sin embargo los elementos hijos pueden dándoles un valor negativo
*/

.z-index-1,
.z-index-2 {
    background-color: mediumaquamarine;
    border: thin solid black;
    position: relative;
    width: 200px;
    height: 200px;
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    top: -202px;
    left: 100px;
}

.z-index-parent {
    background-color: mediumorchid;
    width: 300px;
    height: 300px;
    position: relative;
    /* z-index: 2; */
}

.z-index-chid {
    background-color: mediumvioletred;
    position: relative;
    width: 150px;
    height: 150px;
    top: -75px;
    left: 75px;
    z-index: -1;
}