/*
Estilos de Fuentes
font-family/ Familias tipograficas por defaul
font-size/ Tamaño de la tipografia
font-weight/ Peso de la fuente
font-style/ Italica, Normal
font-variant/ Capitaliza todo el texto a mayusculas
line-height
font: shorthand/ font: italic small-caps bolder 10px/1.5 sand-serif;


*/

.font {
    font-family: monospace;
    font-size: 16px;
    font-weight: lighter;
    font-style: oblique;
    font-variant: small-caps;
    line-height: 1.5;
    font: italic small-caps bolder 10px/1.5 sand-serif;
}


/*
Formato Woff o Woff2 Web open Ont Format

font-display:
    auto - permite que el navegador utilice el metodo predeterminado que suele ser block
    block - oculta brevemente el texto hasta que la fuente haya sido descargada por completo
    swap - indica al navegador que utilice fuente alternativa para mostrar el texto hasta que la fuente personalizada haya cargado por completo
    fallback - oculatará el texto, luego lo cargará con la fuente alternativa y finalmente aplicará la fuente personalizada
*/


/*REGLAJE #1*/

@font-face {
    font-family: "Chalet";
    /* src: url("../assets/Chalet.woff")format(woff),url("../assets/Chalet.woff2")format(woff); */
    src: url("../assets/Chalet.woff")format(woff);
    font-display: swap;
}

.chalet {
    /*Poner una segunda opcion segura por si en un punto la fuente no carga*/
    font-family: "Chalet", sans-serif;
    font-size: 2rem;
}


/*REGLAJE #2*/

@font-face {
    font-family: "Pecita";
    /* src: url("../assets/Chalet.woff")format(woff),url("../assets/Chalet.woff2")format(woff); */
    src: url("../assets/Pecita.woff")format(woff);
    font-display: swap;
}

.pecita {
    font-family: "Pecita", cursive;
    font-size: 2rem;
}


/*GOOGLE FONT*/

.font-google {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}


/*Estilos
Text-align: alineacion del texto en su bloque
Text-decoration: quita o pone decoraciones al texto.
Text-indent: Le da sangria a la primera linea del texto
Text-shadow: sombras al texto
Text-overflow: le da puntos suspencivos a un texto extenso de su contenedor con 2 condiciones aplicadas:
    -Overflow:hidden.
    -white-space:nowrap. Indica que hacer con los espacios en blanco
Text-transform:Poner en mayusculas o minusculas un contenido

letter-spacing:realiza un kerline al texto deseado

white-space:
    -normal:Solo cuenta un espacio entre texto
    -nowrap:todo el texto en una misma linea
    -pre: respeta los espacios deseados
    -pre-wrap: respeta los espacios y limites dentro de un contenedor

wordbreak: roper palabras al final de una linea de texto
word-spacing: espacio entre palabras para o emmititr rios y calaveras
writing-mode:poner texto en horizontal u o vertical
*/

.text {
    background-color: cadetblue;
    font-size: 2rem;
    text-align: center;
    text-align: left;
    text-decoration: overline;
    text-decoration: none;
    text-indent: 1rem;
    text-transform: capitalize;
    text-transform: uppercase;
    text-transform: lowercase;
}

.text-overflow {
    background-color: cadetblue;
    border: thin solid black;
    padding: 1rem;
    width: 50%;
    /* Text Overflow */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}