.table {
    font-size: 3rem;
    border: medium solid black;
    /*Option defaul*/
    border-collapse: collapse;
    border-collapse: separate;
    empty-cells: hide;
    empty-cells: show;
}

.table,
th,
td {
    border: medium solid black;
    border-spacing: 10px;
}

.th,
td {
    border-radius: 10px;
    margin: auto auto;
}