*,
*::after,
*::before{
    box-sizing: border-box;
}

.container{
    background-color: #333;
    height: 30vh;
    
    display: flex;/* flex | inline-flex */
    flex-direction: column; /* row | row-reverse | column | column-reverse| */
    flex-wrap: wrap; /* nowrap | wrap | wrap-reverse */
}

.item{
    background-color: #666;
    color: aliceblue;
    border: medium solid #999;
    /* width: 20%; */
    height: 20%;

}